
.description {
     margin-right: 2.5rem;
     display: flex;
     justify-content: space-between;
     line-height: 4;
    
}
.about {
     padding: 1rem;
     border: 1px solid #111;
     background-color: beige;
     width: 80%;
     margin: 5rem auto;
     

}