@tailwind base;
@tailwind components;
@tailwind utilities;

.form-body{
     display: flex;
    justify-content: center;
     margin:auto;
     text-align: center;
     margin-top: 3rem;
}

.form-control{
     width: 50%;
     flex-direction: column;
     display: flex;
     padding: 0.8rem;
     align-items: center;
     background-color:rgba(237, 208, 135, 0.719)
}
.selector{
     display: block;
     padding-top:1.2rem;
     text-align: center;
}
.inpout-1{
     margin: 0.5rem;
     padding:0.5rem;
}
.form-massage{
     display:flex;
     flex-direction:column;
     align-items:center;
     padding:1.2rem;
    
}

#message{
     display: block;
     width: 100%;
     height: 7rem;
}
#save{
     padding:0.2rem 0.5rem;
     margin:1rem 0;
}




/* guid */

.guide {

     margin: 2rem 4rem;
}

table {
     border-collapse: collapse;
     width: 100%;
}

td,
th {
     border: 1px solid #dddddd;
     text-align: center;
     padding: 8px;
}

tr:nth-child(even) {
     background-color: #dddddd;
}


.footer {
     padding: 3rem 9rem;
     display: flex;
     flex-direction: row-reverse;
     background-color: rgba(74, 71, 71, 0.678);
     /* align-items: center; */
     margin: auto;
     justify-content: space-between;
     margin-top: 1.5rem;
}

.clint-servis ul {
     list-style-type: none;
     flex-direction: column;
     width: 100%;
     margin: 0;
     padding: 0 !important;
     align-items: flex-end;


}

.bold {
     font-weight: 600;
     margin-bottom: 0.4rem;

}

.w-30 {
     padding-top: 0.5rem;
     width: 30%;

}

.Linker {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.Linker h5 {
     margin-bottom: 0.4rem;
}

.icon i {
     cursor: pointer;
     padding: 0.4rem;
     font-size: larger;
     transition: all 0.5s;
}

.icon i:hover {
     color: blue;
}

.about-iframe{
     display: flex;
     margin: auto auto;
     height: 100% !important;
     border: 0;
}

.active{
     border: 1px solid blue;
}
